.login {
    width: 100%;
    height: 100%;
    padding: 100px;
    background: url('/assets/imgs/login_page_bg.jpg') no-repeat center center;
    background-size: cover;
    &>div {
        overflow: hidden;
        .form-box {
            margin: 100px auto !important;
            max-width: 500px;
            color: #fff;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -ms-transition: all 0.5s;
            -o-transition: all 0.5s;
            &:hover {
                box-shadow: 3px 3px 5px #666;
            }
            .login-form {
                max-width: 600px;
            }
            .login-form-forgot {
                float: right;
            }
            .login-form-button {
                width: 100%;
            }
        }
    }
}

:host ::ng-deep .form-box {
    .ant-card {
        border: 0;
        background: rgba(0, 0, 0, 0.3);
        .ant-card-body {
            padding: 20px 10px;
            label {
                color: #fff;
            }
        }
        .ant-card-head {
            .ant-card-head-title {
                color: #fff;
            }
        }
    }
}