#error {
    background: #1d1d1d;
}
.oper {
    width: 300px;
    height: 100px;
    color: #1d1d1d;
    line-height: 40px;
    background: rgba(255, 255, 255, 0);
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -50px;
    a {
        padding: 0 5px;
        font-size: 20px;
    }
}