<div class="top">
  <div nz-row>
    <div nz-col nzSpan="4" class="text-center">
      <i class="menu" (click)="changeDrawer()" nz-icon type="menu-fold" theme="outline"></i>
    </div>
    <div nz-col nzSpan="16" class="text-center">
      <h1 class="logo-box"><a [routerLink]="['/wap']"><img src="/assets/imgs/logo.png" alt="logo"></a></h1>
    </div>
    <div nz-col nzSpan="4" class="text-center">
      <a *ngIf="!isLogin" [routerLink]="['/wap/account/login']" class="login-btn">登录</a>
      <a *ngIf="isLogin" [routerLink]="['/']" class="user-btn">
        <i nz-icon type="user" theme="outline"></i>
      </a>

    </div>
  </div>
</div>

<!-- 抽屉导航 -->
<nz-drawer [nzClosable]="false" [nzVisible]="menuVisible" nzPlacement="left" [nzTitle]="titleTemplate" (nzOnClose)="changeDrawer()">
  <p *ngFor="let config of routeArr" class="router-list">
    <a [routerLink]="[config.url]"><i nz-icon type="{{config.icon}}" theme="outline"></i> {{ config.title }}</a>
  </p>
</nz-drawer>