<div class="top">
  <div class="row">
    <div nz-row>
      <div nz-col nzSpan="8">
        <h1 class="logo-box"><a [routerLink]="['/']"><img src="/assets/imgs/logo.png" alt="logo"></a></h1>
      </div>
      <div nz-col nzSpan="16">
        <p class="user-info text-right">
          <a href="javascript:;">xxx用户，您好！欢迎访问xxx网站！</a>
          <a [routerLink]="['/account/login']" routerLinkActive="account-active">登录</a> / <a [routerLink]="['/account/register']" routerLinkActive="account-active">注册</a>
        </p>
      </div>
    </div>
  </div>
</div>